$enable-gradients:                            true;
$enable-shadows : true;
@import "../bootstrap-4.4.1/scss/bootstrap";

// push the footer to the bottom of the screen
// https://stackoverflow.com/a/54100290
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body > #wrapper {
  flex-grow: 1;
}

code {
  color: #931e53
}

h1, h2, h3, h4 {
	font-family: 'Merriweather';
}

li.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: -1px !important; /* When the dropdown comes down on hover, this will make it easier to get to the dropdown contents without losing it. */
}

.hover-link {
  display: none;
}

.markdown-heading:hover > .hover-link {
  display: inline;
}

.card-header {
  background-color: white !important;
}

/* Theorem statements in the 100 theorem list: */

.doc-stmt {
    font-family: monospace;
    /* indent everything but first line twice as much as decl_type */
    text-indent: -8ex; padding-left: 8ex;
}

.doc-stmt .decl_type {
    margin-top: 2px;
    margin-left: 4ex; /* extra indentation */
}

.doc-stmt .impl_arg {
    font-style: italic;
    font-weight: normal;
}

.fn {
    display: inline-block;
    /* border: 1px dashed red; */
    text-indent: -1ch;
    padding-left: 1ch;
    white-space: pre-wrap;
    vertical-align: top;
}

.doc-stmt .decl_kind, .doc-stmt .decl_name  {
  font-weight: bold;
}

.doc-stmt a {
  color: inherit;
}