$enable-gradients:                            true;
$enable-shadows : true;
@import "../bootstrap-4.4.1/scss/bootstrap";

code {
  color: #931e53
}

h1, h2, h3, h4 {
	font-family: 'Merriweather';
}

li.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: -1px !important; /* When the dropdown comes down on hover, this will make it easier to get to the dropdown contents without losing it. */
}


