$enable-gradients:                            true;
$enable-shadows : true;
$body-color: black;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Merriweather', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;
$code-color: black;
$pre-color: black;
$code-font-size: 100%;
$link-color: hsl(210, 100%, 30%);
$link-hover-color: $link-color;
$kbd-color: black;
$kbd-bg: white;
$kbd-box-shadow: inset 0 -.15rem .2rem rgba(black, .50);

@import "../bootstrap-4.4.1/scss/bootstrap";
@import "pygments";

// push the footer to the bottom of the screen
// https://stackoverflow.com/a/54100290
html {
  height: 100%;
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  #mainbox { flex-grow: 1; }
}

.navbar-brand {
  font-family: $font-family-serif;
  display: block;
  white-space: unset;
}

#mainbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  & > * {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  & > #navbar {
    flex: 0 2 20em;
  }

  & > main {
    flex: 0 1 60em;
    max-width: 60em;
  }

  &::before {
    display: block;
    content: ' ';
    flex: 0 100 20em;
  }
}

#navbar li {
  a { display: block; }
  @include media-breakpoint-down(sm) {
    a { padding: 1em 0; }
    &:not(:first-child) {
      border-top: 1px solid $gray-300;
    }
  }
}

h1, h2, h3, h4 {
  font-family: $font-family-serif;
  margin-top: 2rem;
}

code, pre {
  font-family: 'Source Code Pro', monospace;
  background-color: #f5f5f5;
  border-radius: 5px;
}

code {
  padding: 1px 3px;
}

pre {
  padding: 5px;
  white-space: pre-wrap;
}

.markdown-heading:not(:hover) > .hover-link {
  visibility: hidden;
}

.card-header {
  background-color: white !important;
}

.card-body > *:first-child {
  margin-top: unset;
}

/* Theorem statements in the 100 theorem list: */

.doc-stmt {
    font-family: 'Source Code Pro', monospace;
    /* indent everything but first line twice as much as decl_type */
    text-indent: -8ex; padding-left: 8ex;
}

.doc-stmt .decl_type {
    margin-top: 2px;
    margin-left: 4ex; /* extra indentation */
}

.fn {
    display: inline-block;
    /* border: 1px dashed red; */
    text-indent: -1ch;
    padding-left: 1ch;
    white-space: pre-wrap;
    vertical-align: top;
}

.doc-stmt .decl_kind, .doc-stmt .decl_name {
  font-weight: bold;
}

.doc-stmt a {
  color: inherit;
}

/* break long declaration names at periods where possible */
.break_within {
    word-break: break-all;
}

.break_within .name {
    word-break: normal;
}