$enable-gradients:                            true;
$enable-shadows : true;
@import "../bootstrap-4.4.1/scss/bootstrap";

// push the footer to the bottom of the screen
// https://stackoverflow.com/a/54100290
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body > #wrapper {
  flex-grow: 1;
}

code {
  color: #931e53
}

h1, h2, h3, h4 {
	font-family: 'Merriweather';
}

li.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: -1px !important; /* When the dropdown comes down on hover, this will make it easier to get to the dropdown contents without losing it. */
}

.hover-link {
  display: none;
}

.markdown-heading:hover > .hover-link {
  display: inline;
}

.card-header {
  background-color: white !important;
}
