__pycache__/
*.py[cod]
_site
.sass-cache
.jekyll-metadata
.zuliprc
_json
.python-version
js/gitstats.cache
build/
.vscode
bootstrap-*
export_db.json.gz
data/100.yaml
data/1000.yaml
data/contributor-count
data/overview.yaml
data/undergrad.yaml
data/project_history.yaml
data/projects.yaml
/.venv/
.doit*
cache
output
data_cache
data/header-data.json
