h1, h2, h3, h4, h5, h6,
.blog-header-logo {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
}

#blog-title {
  font-weight: 900;
  font-size: 2.8rem;
}

html > body {
  font-family: 'Open Sans', sans-serif;
}

code, kbd, pre, samp {
  font-size: unset;
  font-family: 'Source Code Pro', monospace;
}

a {
  color: hsl(210, 100%, 30%);
}

code {
  color: unset;
}

pre {
  padding: 5px;
  border: none;
}

code, pre {
  background: #f8f8f8;
  border-radius: 5px;
}
