* {
    box-sizing: border-box;
  }

body {
    font-family: 'Lucida Grande', Arial, sans-serif;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    height: 100vh;
  }

  .content {
    padding: 15px;
  }

/* note: .left and .right are flipped */
  .right {
      position: fixed;
      top: 0;
      right: 0;
  }

  .left {
      position: fixed;
      top: 0;
      left: 0;
  }

  .left, .right {
    width: 20vw;
    overflow-y: scroll;
    overflow-x: auto;
    z-index: 0;
  }

  .middle {
      position: fixed;
      top: 0;
      left: 20vw;
      width: 60%;
      overflow-y: auto;
      overflow-x: auto;
  }


.mod_doc h1 {
    margin-top: 0;
}


 /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }


  .nav .nav_sect_inner {
    padding-left: 15px;
    /* display: none; */
}

.nav .nav_sect_inner.hidden {
    display: none;
}

.nav .nav_sect {
    width: fit-content;
    color: darkblue;
    cursor: pointer;
}

.nav .nav_file {
    color: blue;
/*     cursor: pointer; */
    display: inline-block;
}

.nav .nav_file.visible {
    color: darkred;
/*     cursor: auto; */
}

.nav, .internal_nav {
    font-size: 15px;
    padding: 15px;
}


.decl, .mod_doc, .index_body {
    overflow-x: auto;
    padding-left: 8px;
}

.decl, .inductive, .note {
    padding-right: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.def {
    border-left: 10px solid #92dce5;
    border-top: 2px solid #92dce5;
}

.theorem {
    border-left: 10px solid #8fe388;
    border-top: 2px solid #8fe388;
}

.axiom, .constant {
    border-left: 10px solid #f44708;
    border-top: 2px solid #f44708;
}

.structure, .inductive {
    border-left: 10px solid #f0a202;
    border-top: 2px solid #f0a202;
}

.note {
    border-left: 10px solid #0479c7;
    border-top: 2px solid #0479c7;
    padding-left: 8px;
}

.decl_name, .decl_args {
    padding: 0px 4px 0px 0px;
    white-space: nowrap;
}

.decl_args, .decl_args a:link, .decl_args a:visited, .decl_args a:active {
    color: darkslategray;
}

.decl_args a:hover {
    color: black;
}

.implicits {
    padding-top: 8px;
}

.impl_arg {
    font-family: monospace;
    font-size: 15px;
}

ul {
    padding-inline-start: 25px;
}

.implicits, .impl_arg, .impl_arg a:link, .impl_arg a:visited, .impl_arg a:active {
    color: black;
    white-space: nowrap;
}

.impl_arg a:hover {
    color: darkslategray;
}

.decl_header, .attributes {
    font-weight: bold;
    line-height: 1.5;
}

.decl_header {
    font-size: 15px;
}

.decl_header {
    /* indent everything but first line twice as much as decl_type */
    text-indent: -8ex; padding-left: 8ex;
}

.decl_type {
    margin-top: 2px;
    margin-left: 4ex; /* extra indentation */
}

code, .decl_header, .attributes, .structure_field, .constructor, .instances li, .equation {
    font-family: monospace;
}

code {
    font-size: 15px;
}

.structure_fields, .constructors {
    display: block;
    padding-inline-start: 0;
    margin-top: 1ex;
    font-size: 15px;
}

.structure_field {
    display: block;
}
.structure_field:before {
    content: '(';
    color: gray;
}
.structure_field:after {
    content: ')';
    color: gray;
}

.constructor {
    display: block;
}
.constructor:before {
    content: '| ';
    color: gray;
}

code a:link, code a:visited, code a:active,
.decl a:link, .decl a:visited, .decl a:active {
    color: black;
}

code a:hover, .decl a:hover {
    color: darkslategray;
}

.indent {
    padding: 5px;
}

a.index:link, a.index:visited, a.index:active {
    color:darkblue;
}

a.file:link, a.file:visited, a.file:active {
    color:darkseagreen;
}

.anchor {
    height: 1px;
    width: 1px;
}

.internal_nav h1 {
    font-size: 22px;
    margin-top: 0px;
}

.internal_nav h2 {
    font-size: 19px;
    margin: 0px;
    padding: 0px;
}

.internal_nav .gh_nav_link {
    padding-bottom: 1.5em;
}

.decl_header.impl_collapsed .impl_arg > span {
    display: none;
}

.decl_header.impl_collapsed .impl_arg ~ .impl_arg {
    display: none;
}

.decl_header.impl_collapsed .impl_arg:after {
    cursor: pointer;
    content: '{…}';
}

.impl_arg {
    font-style: italic;
    font-weight: normal;
}

.gh_link {
    float: right;
    margin-left: 20px;
}

.gh_link:before, .internal_nav .gh_nav_link:before {
    content: "";
    display: inline-block;
    background: url(https://leanprover-community.github.io/assets/img/gh_logo.png) no-repeat;
    width: 16px;
    height: 13px;
}