{% extends '_base.html' %}
{% block content %}

  <div class="row mt-3">
    <div class="col">
        <a name="maintainers"></a> 
        <h2>100 theorems</h2>
        
         <a href="https://www.cs.ru.nl/~freek/">Freek Wiedijk</a> has created <a href="https://www.cs.ru.nl/~freek/100/>a list</a> of 100 theorems as targets for formalization as a way of tracking and comparing prominent theorem provers.
         The progress on problems on this list in Lean is as follows

  <div class="row mt-3">
        {% for theorem in 100.100thms %}
		<div class="col-md-6">
			<div class="card mb-3">
			  <div class="row no-gutters">
				<div class="col-md-9">
				  <div class="card-body">
					<h5 class="card-title">{{ theorem.name }}</h5> - <h6 class="card-title">{{ theorem.author }}</h5>
					<a href="/docs/theorem.decl">{{ theorem.decl }}</a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
        {% endfor %}
		</div>
    </div>
  </div>

{% endblock %}
