{% extends '_base.html' %}
{% block title %}Missing theorems from Freek Wiedijk's 1000+ theorems project{% endblock %}
{% block content %}
{% markdown %}
# Missing theorems from [Freek Wiedijk's](https://www.cs.ru.nl/~freek/) [1000+ theorems project](https://1000-plus.github.io/)
These theorems are not yet formalized in Lean (or, these formalisations are not entered in the database yet).
<a href="1000.html">Here</a> is the list of the formalized theorems.
{% for theorem in thousand_theorems|rejectattr('author') %}
* {{ theorem.number }}: {{ theorem.title }}
{% endfor %}
{% endmarkdown %}
{% endblock %}

