{% extends '_base.html' %}
{% block title %}Missing theorems from Freek Wiedijk's 1000+ theorems project{% endblock %}
{% block content %}
{% markdown %}
# Missing theorems from [Freek Wiedijk's](https://www.cs.ru.nl/~freek/) [1000+ theorems project](https://1000-plus.github.io/)
These theorems are not yet formalized in Lean (or, these formalizations are not entered in the database yet).
Currently there are {{thousand_theorems|rejectattr('proof_formalized')|list|length}} of them.
Among these, {{thousand_theorems|rejectattr('proof_formalized')|selectattr('statement_formalized')|list|length}} have their statement formalized.
<a href="1000.html">Here</a> is the list of the formalized theorems.
{% for theorem in thousand_theorems|rejectattr('proof_formalized') %}
* {{ theorem.id }}: {{ theorem.title }}
{% endfor %}

{% endmarkdown %}
{% endblock %}
