{% extends '_base.html' %}
{% block title %}Courses using Lean{% endblock %}
{% block content %}

	<h1>Courses using Lean</h1>

	<p>
        We maintain a list here of past and future courses either using Lean to teach mathematics,
        or directly teaching Lean as an interactive theorem prover or programming language.
        Please add events by making a pull request editing
        <a href="https://github.com/leanprover-community/leanprover-community.github.io/blob/lean4/data/courses.yaml">courses.yaml</a>.
	</p>

    <!-- TODO:
        This template drops the "repo", "material", "tags", "notes", "summary", and "experiences" fields from
        courses.yaml.
    -->
    <ul>
    {% for e in new_events %}
        <li> <a href="{{ e.website }}">{{ e.name }}</a> ({{ e.instructor }}, {{ e.location }}. {{ e.dates }})
            <small class="align-middle">
                <span class="badge badge-secondary align-middle">{{ e.summary }}</span>
            </small></li>
    {% endfor %}
     </ul>
{% endblock %}
