{% extends '_base.html' %}
{% block title %}Courses using Lean{% endblock %}
{% block content %}

<h1>Courses using Lean</h1>

<p>
  We maintain a list here of past and future courses either using Lean to teach mathematics,
  or directly teaching Lean as an interactive theorem prover or programming language.
  Please add courses by making a pull request editing
  <a
    href="https://github.com/leanprover-community/leanprover-community.github.io/blob/lean4/data/courses.yaml">courses.yaml</a>.
</p>

<div id="courses-table"></div>
<!-- TODO:
        This template drops the "tags" fields from courses.yaml.
    -->
<div class="row row-cols-1 row-cols-md-2">
  {% for e in courses %}
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ e.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">by {{ e.instructor }} at {{ e.location }}. {{ e.dates }}</h6>
        <div class="card-text">{{ e.summary }}</div>
      </div>
      {% if e.repo or e.material or e.notes or e.experiences %}
      <div class="card-footer bg-white">
        <small>
          <a class="card-link" data-toggle="collapse" href="#collapseCourse{{ loop.index }}" role="button"
            aria-expanded="false" aria-controls="collapseCourse{{ loop.index }}">
            Details
          </a>
          <div class="collapse mt-2" id="collapseCourse{{ loop.index }}">
            {% if e.repo %}
            <p>Course repository: <a href="{{ e.repo }}">{{ e.repo }}</a></p>
            {% endif %}
            {% if e.material %}
            <p>Course materials: <a href="{{ e.material }}">{{ e.material }}</a></p>
            {% endif %}
            {% if e.notes %}
            <p>Notes: {{ e.notes }}</p>
            {% endif %}
            {% if e.experiences %}
            <p>Experiences: {{ e.experiences }}</p>
            {% endif %}
          </div>
        </small>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block extrajs %}
<link href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>

<script type="text/javascript">
var coursesData = [
  {% for e in courses %}
	{id: {{ loop.index }}, instructor: "{{ e.instructor }}", title: "{{ e.name }}", location: "{{ e.location }}", material: "{{ e.material }}",
	 repository: "{{ e.repo }}", notes: `{{ e.notes }}`, experiences: `{{ e.experiences }}` },
  {% endfor %}
];

var rowPopupFormatter = function(e, row, onRendered){
    var data = row.getData(),
    container = document.createElement("div"),
    contents = "<strong style='font-size:1.2rem;margin:.5rem'>Course details</strong><br/><ul style='padding:0;  margin-top:10px; margin-bottom:0;'>";

    if (data.repository != "None") {
	    contents += "<li><strong>Repository:</strong><a href=\"" + data.repository + "\">" + data.repository + "</a></li>" 
    };
    if (data.material != "None") {
	    contents += "<li><strong>Material:</strong><a href=\"" + data.material + "\">" + data.material + "</a></li>" 
    };
    if (data.notes != "None") {
	    contents += "<li><strong>Notes:</strong> " + data.notes + "</li>" 
    };
    if (data.experiences != "None") {
	    contents += "<li><strong>Experiences:</strong> " + data.experiences + "</li>" 
    };
    contents += "</ul>";

    container.innerHTML = contents;

    return container;
};

var table = new Tabulator("#courses-table", {
 	data:coursesData, 
 	layout:"fitColumns", //fit columns to width of table (optional)
        rowClickPopup:rowPopupFormatter, //add click popup to row
 	columns:[ 
	 	{title:"Instructor", field:"instructor", width:150},
	 	{title:"Title", field:"title", hozAlign:"left"},
	 	{title:"Location", field:"location"},
 	],
});
</script>
{% endblock %}
