{% extends '_base.html' %}
{% block title %}Courses using Lean{% endblock %}
{% block content %}

	<h1>Courses using Lean</h1>

	<p>
        We maintain a list here of past and future courses either using Lean to teach mathematics,
        or directly teaching Lean as an interactive theorem prover or programming language.
        Please add courses by making a pull request editing
        <a href="https://github.com/leanprover-community/leanprover-community.github.io/blob/lean4/data/courses.yaml">courses.yaml</a>.
	</p>

    <!-- TODO:
        This template drops the "tags" fields from courses.yaml.
    -->
    <dl>
    {% for e in courses %}
        <dt>
            <a href="{{ e.website }}">{{ e.name }}</a> ({{ e.instructor }}, {{ e.location }}. {{ e.dates }})
        </dt>
        <dd>
            <ul>
                {% if e.repo %}
                <li>Course repository: <a href="{{ e.repo }}">{{ e.repo }}</a></li>
                {% endif %}
                {% if e.material %}
                <li>Course materials: <a href="{{ e.material }}">{{ e.material }}</a></li>
                {% endif %}
                <li>Summary: {{ e.summary }}</li>
                {% if e.notes %}
                <li>Notes: {{ e.notes }}</li>
                {% endif %}
                {% if e.experiences %}
                <li>Experiences: {{ e.experiences }}</li>
                {% endif %}
            </ul>
        </dd>
    {% endfor %}
    </dl>
{% endblock %}
