{% extends '_base.html' %}
{% block title %}Mathematics in mathlib{% endblock %}
{% block content %}
 


	<h1>Lean-related conferences and events</h1>

	<p>
        We maintain a list here of past and future events related to Lean, mathlib, and formalized mathematics in general.
	</p>

    <h2>Upcoming events</h2>
    <ul>
    {% for e in new_events %}
        <li> <a href="{{ e.url }}">{{ e.title }}</a> ({{ e.location }}. {{ e.date_range }})
            <small class="align-middle">
                <span class="badge badge-secondary align-middle event-tag-{{ e.type }}">{{ e.type }}</span>
            </small></li>
    {% endfor %}
     </ul>   

    <h2>Past events</h2>
    <ul>
    {% for e in old_events %}
        <li> <a href="{{ e.url }}">{{ e.title }}</a> ({{ e.location }}. {{ e.date_range }}) 
            <small class="align-middle">
                <span class="badge badge-secondary align-middle event-tag-{{ e.type }}">{{ e.type }}</span>
            </small></li>
    {% endfor %}
    </ul>
{% endblock %}
