{% extends '_base.html' %}
{% block title %}Lean-related conferences and events{% endblock %}
{% block content %}



	<h1>Lean-related conferences and events</h1>

	<p>
        We maintain a list here of past and future events related to Lean, mathlib, and formalized mathematics in general.
        Please add events by making a pull request editing
        <a href="https://github.com/leanprover-community/leanprover-community.github.io/blob/lean4/data/events.yaml">events.yaml</a>.
	</p>

    <p>
        The "conference," "workshop," and "tutorial" tags are vaguely defined.
        Approximately, a "conference" is for formal presentations of finished work, often with published proceedings;
        a "workshop" is more casual and may include work in progress, although sometimes will publish informal proceedings;
        a "tutorial" is an opportunity to learn or practice how to use the system.
    </p>

    <h2>Upcoming events</h2>
    <ul>
    {% for e in new_events %}
        <li> <a href="{{ e.url }}">{{ e.title }}</a> ({{ e.location }}. {{ e.date_range }})
            <small class="align-middle">
                <span class="badge badge-secondary align-middle event-tag-{{ e.type }}">{{ e.type }}</span>
            </small>
            {% if e.schema_org_json %}
            <script type="application/ld+json">
{{ e.schema_org_json }}
            </script>
            {% endif %}
        </li>
    {% endfor %}
     </ul>

    <h2>Past events</h2>
    <ul>
    {% for e in old_events %}
        <li> <a href="{{ e.url }}">{{ e.title }}</a> ({{ e.location }}. {{ e.date_range }})
            <small class="align-middle">
                <span class="badge badge-secondary align-middle event-tag-{{ e.type }}">{{ e.type }}</span>
            </small>
            {% if e.schema_org_json %}
            <script type="application/ld+json">
{{ e.schema_org_json }}
            </script>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
