{% extends '_base.html' %}
{% block content %}

  <div class="row justify-content-center mt-4">
    <div class="col-md-6 text-center">  
    <img src="img/community_logo_emb.svg" alt="Lean community"
                class="img-fluid w-100"/>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md">  
		<h2>Try it!</h2>
		<p class="mt-3">
		<!--		<ul class="list-unstyled">
			<li>You can try <a href="">Lean online</a></li>
			<li>Or download a single folder package that won't modify
				anything</li>
			<li>Or go for the full install</li>
		</ul> -->
		You can try Lean in your web brower, install it in an isolated
		folder, or go for the full install. Lean is an open source free
		software. It works under Linux,
		Windows and MacOS.
		<a href="get_started.html">Get started!</a>
		</p>
    </div>
    <div class="col-md">  
		<h2>Learn</h2>
		<p class="mt-3">
		You can learn by playing a game, following tutorials, reading
		books.
		<a href="learn.html">Learn more!</a>
		</p>
<!--		<ul>
			<li>The <em>Theorem proving in Lean</em> book</li>
			<li>The <em>Natural number game</em></li>
			<li>API documentation</li>
</ul> -->
    </div>
    <div class="col-md">  
		<h2>Meet the community</h2>
		<p class="mt-3">
        Lean has very diverse and active community. It gathers mostly on
		a Zulip chat and on GitHub. You can join the fun, and get
		involved!
		<a href="meet.html">Meet the maintainers!</a>
		</p>
		<!--<ul>
			<li>Zulip chat</li>
			<li>Meet the mathlib maintainers</li>
			<li>Get involved</li>
		</ul> -->
    </div>
  </div>
  <div class="row mt-3">
    <div class="col"> 
		{{ presentation | md }}
	</div>
  </div>
  <div class="row mt-3">
    <div class="col"> 
	  <h2>Formalized with Lean and mathlib</h2>
	</div>
  </div>
  <div class="card-deck">
	{% for formalization in formalizations %}
		<div class="card" >
		  <div class="card-body">
			  <h5 class="card-title">{{ formalization.title }}</h5>
			<h6 class="card-subtitle mb-2 text-muted">by {{ formalization.authors }}</h6>
			<p class="card-text">{{ formalization.abstract }}</p>
		  </div>
          <div class="card-footer text-right bg-white">
            <small><a href="{{ formalization.url | url }}" class="card-link">Learn more</a></small>
          </div>
		</div>
	{% endfor %}
  </div>
  <div class="row mt-2 mb-2">
    <div class="col"> 
		You can find many more in the <a href="papers.html">list of papers</a>.
	</div>
  </div>

  {% endblock %}
