{% extends '_base.html' %}
{% block title %}Lean projects{% endblock %}
{% block extracss %}
<script type="text/javascript" src="js/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<link href="https://unpkg.com/tabulator-tables@4.6.2/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.6.2/dist/js/tabulator.min.js"></script>
{% endblock %}

{% block content %}

  <div class="row mt-5">
    <div class="col-12">
      <h1>Lean projects</h1>
    </div>
    <div class="col-12">
    <p>
      While much Lean development takes place in the mathlib repository,
      there are many other projects using Lean
      that are developed and maintained by members of the community.
      We list here a selection.
      Many of these projects are designed to be imported as dependencies
      in other developments.
      At the bottom of this page,
      you can see a summary of which projects are compatible with which Lean versions.
      If two projects both support the same Lean version,
      you can likely use them together.
    </p>

    <p>
      To add a project to this list,
      please see the directions at the
      <a href="https://github.com/leanprover-contrib/leanprover-contrib">leanprover-contrib</a> repository.
    </p>

    <p>
      This list and the repository that manages it are both works in progress.
      Please add your own project and report any problems in that repository.
    </p>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2">
    {% for project in projects %}
      <div class="col mb-4">
      <div class="card h-100" >
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">maintained by
          {% for maintainer in project.maintainers %}
            <a href="https://github.com/{{ maintainer }}">@{{ maintainer }}</a>
          {% endfor %}
        </h6>
        <p class="card-text">{{ project.description }}</p>
        </div>
            <div class="card-footer text-right bg-white">
              <small><a href="https://github.com/{{ project.organization }}/{{ project.name }}" class="card-link">View on GitHub</a> (★ {{ project.stars }})</small>
            </div>
      </div>
      </div>
    {% endfor %}
    </div>




  <div class="row mt-5">
    <div class="col-12">
      <h2>Projects by supported Lean versions</h2>
    </div>

    <div class="col-12">
      <p>
        If you want to import multiple projects in your own,
        you should choose a Lean version that is supported
        by each of these dependencies.
      </p>
      <ul>
        <li>
          A ✓ in the <code>x.y.z</code> column
          means that the project has a <code>lean-x.y.z</code> branch,
          all of its dependencies have <code>lean-x.y.z</code> branches,
          and the project builds successfully using the most recent commits
          on all of these <code>lean-x.y.z</code> branches.
        </li>
        <li>
          An × in the <code>x.y.z</code> column means that the project has an <code>lean-x.y.z</code> branch
          but it fails to build.
        </li>
        <li>
          No mark in the <code>x.y.z</code> column means that the project
          does not have an <code>x.y.z</code> branch.
        </li>
      </ul>
      <p>
        Note that an × does not necessarily mean the project does not compile,
        just that it does not compile with updated dependencies.
      </p>
    </div>

    <div class="col-12">
       <div id="proj_table"></div>
    </div>
  </div>

  <div class="row mt-5">

  </div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="https://leanprover-contrib.github.io/leanprover-contrib/projects.js"></script>

<script>

window.onload = function() {

    var table = new Tabulator("#proj_table", {
        data: projects, //set initial table data
        layout:"fitColumns",
        layoutColumnsOnNewData:true,
        responsiveLayout:false,
        columns: project_cols,
        // height: "600px",
    });
    table.redraw(true);

};


</script>
{% endblock %}
