{% extends '_base.html' %}
{% from '_overview-macros.html' import flat_child %}
{% block title %}Mathematics in mathlib{% endblock %}
{% block content %}
	<h1>A mathlib overview</h1>

	<p>
	The goal of this web page is to give a rough list of topics
	currently covered in mathlib, and provide pointers for exploration.
	This is not meant to be an exhaustive list, and could be outdated
	(see the <a href="mathlib4_docs/">full index</a> for exhaustive
	and up to date information).
	</p>

	<p>
	Here topics are listed in the greatest generality we currently have
	in mathlib, hence some things may be difficult to recognize. We also
	have a page dedicated to
	<a href="undergrad.html">undergraduate mathematics</a> which may
	be easier to read, as well as a page listing undergraduate maths topics
	that are
	<a href="undergrad_todo.html">not yet in mathlib</a>.
	</p>

	<p>
	To make updates to this list, please <a href="contribute/index.html">make a pull request to mathlib</a>
	after editing the
	<a href="https://github.com/leanprover-community/mathlib4/blob/master/docs/overview.yaml">yaml source file</a>.
	This can be done entirely on GitHub, see
	<a href="https://docs.github.com/en/github/managing-files-in-a-repository/editing-files-in-another-users-repository">"Editing files in another user's repository"</a>.
	</p>

	{% for area in overviews %}
	<h4 id="{{ area.slug }}" class="markdown-heading">{{ area.title }}<a class="hover-link" href="#{{ area.slug }}">#</a></h4>
	  {% for subarea in area.children %}
	  <p class="ml-4 mb-2">
	  <b>{{ subarea.title }}</b>
		{% for item in subarea.children %}
                {{ flat_child(item) }}{% if not loop.last %}, {% else %}.{% endif %}
		{% endfor %}
		{% if subarea.title in theories %}
		  {% if theories[subarea.title] | count > 1 %}
		  See also our documentation pages about {% for title, url in theories[subarea.title].items() %}{% if loop.last %} and {%endif%}<a href="theories/{{ url }}.html">{{ title }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.
		  {% else %}
		  See also our documentation page about {% for title, url in theories[subarea.title].items() %}<a href="theories/{{ url }}.html">{{ title }}</a>{% endfor %}.
		  {% endif %}
		{% endif %}
	  </p>
      {% endfor %}
	  {% if area.title in theories %}
		<p>
	    {% if theories[area.title] | count > 1 %}
		See also our documentation pages about {% for title, url in theories[area.title].items() %}{% if loop.last %} and {%endif%}<a href="theories/{{ url }}.html">{{ title }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.
		{% else %}
		See also our documentation page about {% for title, url in theories[area.title].items() %}<a href="theories/{{ url }}.html">{{ title }}</a>{% endfor %}.
		{% endif %}
		</p>
	  {% endif %}
	{% endfor %}

{% endblock %}
