{% extends '_base.html' %}
{% block title %}Meet the community{% endblock %}
{% block content %}

        {{ community | md }}

  <div class="row mt-3">
        {% for maintainer in maintainers %}
		<div class="col-md-6">
			<div class="media mb-3">
				<img src="img/{{ maintainer.img }}" class="mr-3" alt="{{maintainer.name}} picture">
				<div class="media-body">
					<h5 class="mt-0">{{ maintainer.name }}</h5>
					<p>{{ maintainer.descr }}</p>
				</div>
			</div>
		</div>
        {% endfor %}
  </div>

{% endblock %}
