{% extends '_base.html' %}
{% block title %}Meet the community{% endblock %}
{% block content %}

  <div class="row mt-5">
    <div class="col">
        {{ community | md }}
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">

  <div class="row mt-3">
        {% for maintainer in maintainers %}
		<div class="col-md-6">
			<div class="card mb-3">
			  <div class="row no-gutters">
				<div class="col-md-3 d-flex align-items-center justify-content-center">
				  <img src="img/{{ maintainer.img }}" class="p-2" 
													  alt="{{maintainer.name}}
													  picture">
				</div>
				<div class="col-md-9">
				  <div class="card-body">
					<h5 class="card-title">{{ maintainer.name }}</h5>
					<p class="card-text">{{ maintainer.descr }}</p>
				  </div>
				</div>
			  </div>
			</div>
		</div>
        {% endfor %}
		</div>
    </div>
  </div>

{% endblock %}
