{% extends '_base.html' %}
{% block content %}

<div class="row mt-3">
        <div class="col">
                <h1>Overview of multiple mathematical statements in mathlib</h1>

                <p>This page tracks usual mathematical theories that are or not are in mathlib currently.</p>

                <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="switch-todo" checked>
                        <label class="custom-control-label" for="switch-todo">Show todo</label>
                </div>

                <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="switch-done" checked>
                        <label class="custom-control-label" for="switch-done">Show done</label>
                </div>

                <div id="overview-accordion">
                        {% for statement in overviews recursive %}
                        {% if statement.children %}
                        <div class="card{% if statement.isComplete %} statement-done {%else %} statement-todo {% endif %}">
                                <div class="card-header" id="heading-{{statement.id}}">
                                        <h5 class="card-title markdown-heading" id="{{ statement.id }}">
                                                <a role="button" data-toggle="collapse" href="#collapse-{{statement.id}}" aria-expanded="true" aria-controls="collapse-{{statement.id}}">
                                                        {{ statement.title }}
                                                </a>
                                                <a class="hover-link" href="#{{ statement.id }}">#</a>
                                        </h5>
                                        <div id="collapse-{{statement.id}}" class="collapse show" data-parent="{% if statement.parent %}#overview-accordion-{{statement.parent.id}} {% else %}#overview-accordion{% endif %}">
                                                <div class="card-body">
                                                        <div id="overview-accordion-{{statement.id}}">
                                                                {{ loop(statement.children) }}
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        {% else %}
                        <span class="{% if statement.isComplete %}statement-done{% else %}statement-todo{% endif %}">
                                <a {% if statement.decl %} href="//mathlib_docs/{{ statement.decl }}" {% endif %}>{{ statement.title }}</a>{% if not loop.last and not (loop.nextitem is defined and loop.nextitem.children) %}, {% endif %}
                        </span>
                        {% endif %}
                        {% endfor %}
                </div>
        </div>
</div>
{% endblock %}
{% block extrajs %}
        <script>
                $(document).ready(function () {
                        const $switchTodo = $('#switch-todo');
                        const $switchDone = $('#switch-done');

                        const $todoStatements = $('.statement-todo');
                        const $doneStatements = $('.statement-done');

                        function setSwitchToggleEventListener ($checkbox, $statements) {
                                $checkbox.click(function () {
                                        $statements.toggle();
                                });
                        }

                        setSwitchToggleEventListener($switchTodo, $todoStatements);
                        setSwitchToggleEventListener($switchDone, $doneStatements);
                })
        </script>
{% endblock %}
