{% extends '_base.html' %}
{% block content %}

  <div class="row mt-3">
    <div class="col">
      <h1>Papers</h1>
      {% for title, papers in paper_lists %}
      <h2 class="mt-3">{{ title }}</h2>
      <ul>
        {% for paper in papers %}
        <li>{% for author in paper.persons['author'] %}{{ ' '.join(author.first_names).strip('{}') | tex }} {{ ' '.join(author.last_names).strip('{}') | tex}}, {% endfor %}
          <a href="{{ paper.fields['url'] }}">{{ paper.fields['title'] | tex }}</a>
          {% if paper.fields['journal'] %}{{ paper.fields['journal'] | tex }},{% endif %}
          {{ paper.fields['year'] }}
          {% if 'website' in paper.fields %} (<a href="{{ paper.fields['website'] }}">website</a>){% endif %}
          {% for tag in paper.fields['tags'] %}
          <small class="align-middle"><span class="badge badge-secondary align-middle">{{ tag }}</span></small>
          {% endfor %}
        </li>
        {% endfor %} 
      </ul>
      {% endfor %} 

      <p class="mt-4">You can find all those papers and more in <a href="lean.bib">lean.bib</a>.</p>
    </div>
  </div>

{% endblock %}
