{% extends '_base.html' %}
{% block title %}Community teams{% endblock %}
{% block content %}
  {{ introduction | md }}

      <div class="row row-cols-1 row-cols-md-3">
	{% for team in teams %}
	<div class="col mb-4">
	  <div class="card h-100">
	    <div class="card-body">
	      <h4>{{ team.name }}</h4>
	      <div>
		{{ team.short_description | md }}
	      </div>
	    </div>
	    <div class="card-footer text-right bg-white">
		<small><a href="teams/{{ team.url }}.html" class="card-link">More info</a></small>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
{% endblock %}
