{% extends '_base.html' %}
{% block title %}Community teams{% endblock %}
{% block content %}
  {{ introduction | md }}

  <div class="justify-content-center mt-3">
   <div class="card-deck">
      {% for team in teams %}
      <div class="card">
        <div class="card-body">
          <h4>{{ team.name }}</h4>
          <div>
            {{ team.short_description | md }}
          </div>
        </div>
        <div class="card-footer text-right bg-white">
            <small><a href="teams/{{ team.url }}.html" class="card-link">More info</a></small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
