{% extends '_base.html' %}
{% from '_overview-macros.html' import flat_child %}
{% block title %}Undergrad math in mathlib{% endblock %}
{% block content %}
    <h1>Undergraduate mathematics in mathlib</h1>

      <p>
    This gives pointers to undergraduate maths topics that are
    currently covered in mathlib.
    The list is gathered from
    <a href="http://media.devenirenseignant.gouv.fr/file/agreg_externe/59/7/p2020_agreg_ext_maths_1107597.pdf">
    the French curriculum</a>.
    There is also a page listing undergraduate maths topics
    that are
    <a href="undergrad_todo.html">not yet in mathlib</a>.
    </p>

    <p>To update this list, please submit a PR modifying
      <a href="https://github.com/leanprover-community/mathlib4/edit/master/docs/undergrad.yaml">
        docs/undergrad.yaml</a> in the mathlib4 repository.
      </p>

  {% for area in overviews %}
    {% if area.is_nonempty %}
    <h4>{{ area.title }}</h4>
      {% for subarea in area.nonempty_children %}
        <p class="ml-4 mb-2">
        <b>{{ subarea.title }}</b>
        {% for item in subarea.nonempty_children %}
          {{ flat_child(item) }}{% if not loop.last %}, {% else %}.{% endif %}
        {% endfor %}
        </p>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}
