<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=https://mathlib.org/contribute/naming.html">
        <script type="text/javascript">
            window.location.href = "https://mathlib.org/contribute/naming.html"
        </script>
        <title>Page Moved</title>
    </head>
    <body>
        This webpage (about mathlib's naming conventions) has moved to mathlib's webpage. If you are not redirected automatically, follow this <a href='https://mathlib.org/contribute/naming.html'>link to the naming conventions</a>.
    </body>
</html>
