<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=https://mathlib.org/contribute/style.html">
        <script type="text/javascript">
            window.location.href = "https://mathlib.org/contribute/style.html"
        </script>
        <title>Page Moved</title>
    </head>
    <body>
        This webpage (about mathlib's style guidelines) has moved to mathlib's webpage. If you are not redirected automatically, follow this <a href='https://mathlib.org/contribute/style.html'>link to the style guide</a>.
    </body>
</html>
