name: deploy site

on:
  push:
    branches-ignore:
      - 'master'
      - 'oldsite'

jobs:
  build:
    name: Build HTML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: install Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: install bibtool
        run: sudo apt-get install bibtool

      - name: install Python dependencies
        run: python -m pip install --upgrade pip staticjinja PyYaml mistletoe pybtex pylatexenc

      - name: build and deploy
        run:
          ./deploy.sh
        env:
          git_hash: ${{ github.sha }}
          DEPLOY_GITHUB_TOKEN: ${{ secrets.MASTER_DEPLOY }}
          DEPLOY_GITHUB_USER: leanprover-community-bot
          github_repo: ${{ github.repository }}
          github_ref: ${{github.ref  }}
