name: deploy site

on:
  push:
    branches-ignore:
      - 'master'
      - 'oldsite'
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

concurrency:
  # label each workflow run; only the latest with each label will run
  group: ${{ github.workflow }}-${{ github.ref }}
  # if there is a run in progress with the same label, the next new run will be queued
  # and new runs after that will cancel pending runs
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  build:
    name: Build HTML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: install Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          # TODO: fix things so we can build with 3.12 and above
          python-version: 3.11

      - name: setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: install bibtool
        run: |
          sudo apt-get update --fix-missing
          sudo apt-get install bibtool

      - name: install Python dependencies
        run: python -m pip install --upgrade pip -r requirements.txt

      - name: install Node.js dependencies
        run: npm ci

      - name: build and deploy
        id: build
        run: |
          ./deploy.sh
        env:
          git_hash: ${{ github.sha }}
          DEPLOY_GITHUB_TOKEN: ${{ secrets.MASTER_DEPLOY }}
          DEPLOY_GITHUB_USER: leanprover-community-bot
          github_repo: ${{ github.repository }}
          github_ref: ${{ github.ref  }}
          ZULIP_KEY: ${{ secrets.ZULIP_KEY }}

      - name: validate semantic data in events.html
        run: npm run validate:events

      - name: Upload artifact
        id: upload-artifact
        if: ${{ !cancelled() && (steps.build.outcome == 'success') }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: site
          path: build/
